*{
    margin: 0%;
    padding: 0%;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    width: 620px;
    height: auto;
    box-shadow:  10px 10px #eee;
    border: 1px solid #ccc;

}
.title {
    width: 620px;
    height: 120px;
    background-color: #383838;

    display: flex;
    align-items: center;
    justify-content: center;
}
.title_text {
    font-size: 50px;
    color: #fff;
}
.container {
    width: 80%;
}

form{
    width: 100%;
    align-items: center;
}
label{
    display: block;
    margin: 20px;
}
input {
    font-size: 15px;
}
.text, .password, .submit{
    width: 95%;
    height: auto;
    padding: 10px;
    outline: 0;
    border: 1px solid #ccc;
    transition: all 0.01s linear;
}
label .text:hover, label .password:hover {
    border: 1px solid #383838;
}

.submit {
    width: 100%;
    box-shadow: none;
    border: none;
    transition: all 0.1s linear;
    background-color: #eee;
}
.submit:hover{
    background-color: #ddd;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
a {
    display: block;
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
}