*{
    margin: 0%;
    padding: 0%;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
#home {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    width: 620px;
    height: 430px;
    box-shadow:  10px 10px #eee;
    border: 1px solid #ccc;

}
.container {
    width: 80%;
}
.title {
    font-size: 50px;
    text-align: center;
    margin: 20px;
}
form{
    width: 100%;
}
form label {
    display: block;
    padding: 10px;
}
label .text, label .password{
    width: 95%;
    height: auto;
    padding: 10px;
    font-size: 15px;
    outline: 0;
    border: 1px solid #ccc;
    transition: all 0.01s linear;
}
label .text:hover, label .password:hover {
    border: 1px solid #383838;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #eee;
    transition: all 0.05s linear;
    border: none;
}
.submit:hover{
    background-color: #ddd;
}
.request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-bottom: 20px;
    height: 50px;
}
a {
    display: block;
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}