* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
#singup {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    width: 620px;
    height: 430px;
    box-shadow:  10px 10px #eee;
    border: 1px solid #ccc;
}
.container {
    width: 80%;
}
.title {
    font-size: 50px;
    text-align: center;
    margin: 20px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
label{
    display: block;
    margin-top: 10px;
}
input {
    font-size: 15px;
}
.text, .email, .password, .submit{
    padding: 10px;
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
}
.text:hover, .email:hover, .password:hover {
    border: 1px solid #000;
}
.checkbox {
    margin: 0%;
    padding: 0%;
}
label a {
    text-decoration: none;
    color: #ff0000;
}
a:hover {
    text-decoration: underline;
}
.submit {
    box-shadow: none;
    border: none;
    transition: all 0.1s linear;
    background-color: #eee;
}
.submit:hover {
    background-color: #ddd;
}
.login_back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.login_back a {
    
    display: block;
    color: #000;
    text-decoration: none;
}

.login_back a:hover {
    text-decoration: underline;
}